/*-----Adam Demol 2024-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }
button { cursor: pointer; }

body {
  background-color: #333;
  color: #111;
}

main {
  background: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: white;
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.divider2 {
  width: 100%;
  display: grid;
  grid-template-columns: 140px 1fr 180px;
}

.toolbar-right {
  background-color: rgb(192, 192, 192);
}

.layers-wrap {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.canvas-wrap {
  display: grid;
  justify-content: center;
  padding-block: 2rem;
}

.canvas-layers {
  display: grid;
  position: relative;
  box-shadow: 0 5px 10px 0 #ccc;
  background: conic-gradient(
  #ebebeb 90deg,
  #d3d3d3 90deg 180deg,
  #ebebeb 180deg 270deg,
  #d3d3d3 270deg
  );
  background-repeat: repeat ;
  background-size: 40px 40px;

  width: 500px;
  height: 500px;
}

canvas {
  position: absolute;
}

canvas:hover {
  cursor: crosshair;
}

.toolbar-top {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  gap: 10px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #999;
}

.toolbar-top button {
  height: 40px;
  width: 100px;
}

.toolbar-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #ededed;
}

.toolbar-left svg {
  pointer-events: none;
}

.toolbar-left button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.toolbar-left button:hover {
  background-color: #333;
  color: white;
}

.filter-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: #ededed;
}

.filter-dropdown:hover > .filter-dropdown-option {
  opacity: 1;
  pointer-events: all;
}

.filter-dropdown-option {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 140px;

  display: grid;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}

.filter-dropdown-option button {
  width: 100px;
}

.undo-button, .redo-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.undo-button:hover, .redo-button:hover {
  background: #333;
  color: white;
}

.selected-tool {
  background-color: #333;
  color: white;
}

.toolbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar-container input {
  cursor: pointer;
}

.layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}
.layer .layer-text {
  pointer-events: none;
}
.layer button { height: 17px; width: 17px; }
.layer svg { background: white; }

.current-layer {
  border: 2px solid #333;
  box-shadow: 0 2px 4px #999;
}